<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/listeo/css/style.css">
    <link rel="stylesheet" href="/listeo/css/main-color.css" id="colors">
    <link rel="icon" href="/img/logo-3.png">
</head>

<body>
<div id="wrapper">

    <!-- Header Container
================================================== -->
    <header id="header-container" class="fixed fullwidth dashboard">

        <!-- Header -->
        <div id="header" class="not-sticky">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                        <a href="index.html" class="dashboard-logo"><img
                                src="images/logo2.png" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
                                        class="hamburger-inner"></span>
								</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <!-- Header Widget -->
                    <div class="header-widget">

                        <!-- User Menu -->
                        <div class="user-menu">
                            <div class="user-name">
                                Tài Khoản
                            </div>
                            <ul>
                                <li><a href="/dashboard-myprofile"><i
                                        class="sl sl-icon-settings"></i> Đổi Mật Khẩu</a></li>
                            </ul>
                        </div>

                        <a th:href="@{/add-san-pham}"
                           class="button border with-icon">Thêm Sản Phẩm<i
                        ></i></a>
                    </div>
                    <!-- Header Widget / End -->
                </div>
                <!-- Right Side Content / End -->
            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Dashboard -->
    <div id="dashboard">

        <!-- Navigation
================================================== -->

        <!-- Responsive Navigation Trigger -->
        <a href="#" class="dashboard-responsive-nav-trigger"><i
                class="fa fa-reorder"></i> Dashboard Navigation</a>

        <div class="dashboard-nav" style="background: white">
            <div class="dashboard-nav-inner">
                <ul data-submenu-title="Trang Chủ">
                    <li class="active"><a href="/home-admin"><i class="sl sl-icon-settings"></i> <span
                            style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    <li><a href="/thong-ke"><i class="sl sl-icon-wallet"></i> <span
                            style="font-weight: bold; color: black;">Thông Kê</span></a></li>
                    <li><a href="/quan-ly-don-hang"><i class="fa fa-calendar-check-o"></i> <span
                            style="font-weight: bold; color: black;">Quản Lý Hóa Đơn</span></a></li>
                    <ul data-submenu-title="Sản Phẩm">
                        <li><a href="#"><i class="sl sl-icon-layers"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Sản Phẩm</span></a>
                            <ul id="sub">
                                <li><a href="/san-pham-admin"><span
                                        style="font-weight: bold; color: black;">Sản Phẩm</span></a></li>
                                <li><a href="/tac-gia-admin"><span
                                        style="font-weight: bold; color: black;">Tác Giả</span></a></li>
                                <li><a href="/nha-san-xuat-admin"><span style="font-weight: bold; color: black;">Nhà Xuất Bản</span></a>
                                </li>
                                <li><a href="/bia-admin"><span style="font-weight: bold; color: black;">Bìa Sách</span></a>
                                </li>
                                <li><a href="/the-loai-admin"><span style="font-weight: bold; color: black;">Thể Loại Sách</span></a>
                                </li>
                                <li><a href="/khuyen-mai/admin"><span style="font-weight: bold; color: black;">Khuyến mãi</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul data-submenu-title="Người Dùng">
                        <li><a href="/nguoi-dung-admin"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Tài Khoản</span></a></li>
                        <li><a href="/dang-xuat"><i class="sl sl-icon-power"></i> <span
                                style="font-weight: bold; color: black;">Đăng Xuất</span></a></li>
                    </ul>
                    <ul data-submenu-title="Home">
                        <li><a href="/dashboard-myprofile"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Đổi Mật Khẩu</span></a></li>
                        <li><a href="/home"><i class="im im-icon-Home"></i> <span
                                style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <!-- Navigation / End -->



        <!-- Content
================================================== -->
        <div class="dashboard-content">
            <!-- Titlebar -->
            <div id="titlebar">
                <div class="row">
                    <!--                    <div class="col-md-12">-->
                    <!--                        <h2 th:text="${session.admin.user_Name + '!'}"></h2>-->
                    <!--                        &lt;!&ndash; Breadcrumbs &ndash;&gt;-->
                    <!--                        <nav id="breadcrumbs">-->
                    <!--                            <ul>-->
                    <!--                                <li><a href="#">Home</a></li>-->
                    <!--                                <li>Dashboard</li>-->
                    <!--                            </ul>-->
                    <!--                        </nav>-->
                    <!--                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{/sua-khuyen-mai/{id}(id=${detail.id})}" method="post"
                          enctype="multipart/form-data">
                        <div id="add-listing">

                            <!-- Section -->
                            <div class="add-listing-section">

                                <!-- Headline -->
                                <div class="add-listing-headline">
                                    <h3>
                                        <i class="sl sl-icon-doc"></i> Thông Tin
                                    </h3>
                                </div>

                                <!-- Title -->
                                <div class="row with-forms">
                                    <div class="col-md-12">
                                        <h5>Mã Code</h5>
                                        <input name="couponCode" class="search-field" type="text"
                                               th:value="${detail.couponCode}" placeholder="Mã Code"/>
                                        <p style="color: red">[[${loi}]]</p>
                                    </div>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-6">
                                        <h5>Ngày Tạo</h5>
                                        <input name="createdAt" class="search-field" type="date"
                                               th:value="${detail.createdAt}" placeholder="Giá Trị Giảm"/>
<!--                                        <p style="color: red">[[${loi3}]]</p>-->
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Giá Trị Giảm</h5>
                                        <input name="discountValue" class="search-field" type="number"
                                               th:value="${detail.discountValue}" placeholder="Giá Trị Giảm"/>
<!--                                        <p style="color: red">[[${loi2}]]</p>-->
                                    </div>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-6">
                                        <h5>Ngày Hết Hạn</h5>
                                        <input name="expiredAt" class="search-field" type="date"
                                               th:value="${detail.expiredAt}" placeholder="Ngày Hết Hạn"/>
<!--                                        <p style="color: red">[[${loi3}]]</p>-->
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Giá Trị Giảm Tối Đa</h5>
                                        <input name="maximumDiscountValue" class="search-field" type="number"
                                               th:value="${detail.maximumDiscountValue}" placeholder="Giá Trị Giảm Tối Đa"/>
<!--                                        <p style="color: red">[[${loi4}]]</p>-->
                                    </div>
                                </div>
                                <!-- Row / End -->

                            </div>
                            <!-- Section / End -->

                            <!-- Section -->
                            <div class="add-listing-section margin-top-45">

                                <!-- Headline -->
                                <div class="add-listing-headline">
                                    <h3>
                                        <i class="sl sl-icon-docs"></i> Mô Tả
                                    </h3>
                                </div>

                                <!-- Description -->
                                <div class="form">
                                    <h5>Mô Tả Chi Tiết</h5>
                                    <textarea name="name" class="WYSIWYG" cols="40"
                                              rows="3" id="summary" spellcheck="true"
                                              placeholder="Mô Tả Chi Tiết" th:field="${detail.name}" ></textarea>
                                    <p style="color: red">[[${loi2}]]</p>
                                </div>
                            </div>
                            <!-- Section / End -->

                            <!-- Section -->
                            <button class="button preview" type="submit">
                                Sửa <i class="fa fa-arrow-circle-right"></i>
                            </button>

                        </div>


                        <!-- Copyrights -->
                        <div class="col-md-12">
                            <div class="copyrights"></div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!-- Content / End -->


    </div>
    <!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
        src="scripts/jquery-migrate-3.3.2.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/dropzone.js"></script>

</body>
</html>
