<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/listeo/css/style.css">
    <link rel="stylesheet" href="/listeo/css/main-color.css" id="colors">
    <link rel="icon" href="/img/logo-3.png">
</head>
<body>
<div id="wrapper">

    <!-- Header Container
================================================== -->
    <header id="header-container" class="fixed fullwidth dashboard">

        <!-- Header -->
        <div id="header" class="not-sticky" style="background: white">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo" style="background: white;">
                        <a href="index.html"><img src="/images/logo3.png" height="100px" width="180px" alt=""></a>
                        <a href="index.html" class="dashboard-logo" style="margin-left: 14px;"><img
                                src="/images/logo3.png" height="100px" width="180px" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
                                        class="hamburger-inner"></span>
								</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <!-- Header Widget -->
                    <div class="header-widget">

                        <!-- User Menu -->


                    </div>
                    <!-- Header Widget / End -->
                </div>
                <!-- Right Side Content / End -->
            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Dashboard -->
    <div id="dashboard">

        <!-- Navigation
================================================== -->

        <!-- Responsive Navigation Trigger -->


        <div class="dashboard-nav" style="background: white">
            <div class="dashboard-nav-inner">
                <ul data-submenu-title="Trang Chủ">
                    <li class="active"><a href="/home-admin"><i class="sl sl-icon-settings"></i> <span
                            style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    <li><a href="/thong-ke"><i class="sl sl-icon-wallet"></i> <span
                            style="font-weight: bold; color: black;">Thông Kê</span></a></li>
                    <li><a href="/quan-ly-don-hang"><i class="fa fa-calendar-check-o"></i> <span
                            style="font-weight: bold; color: black;">Quản Lý Hóa Đơn</span></a></li>
                    <ul data-submenu-title="Sản Phẩm">
                        <li><a href="#"><i class="sl sl-icon-layers"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Sản Phẩm</span></a>
                            <ul id="sub">
                                <li><a href="/san-pham-admin"><span
                                        style="font-weight: bold; color: black;">Sản Phẩm</span></a></li>
                                <li><a href="/tac-gia-admin"><span
                                        style="font-weight: bold; color: black;">Tác Giả</span></a></li>
                                <li><a href="/nha-san-xuat-admin"><span style="font-weight: bold; color: black;">Nhà Xuất Bản</span></a>
                                </li>
                                <li><a href="/bia-admin"><span style="font-weight: bold; color: black;">Bìa Sách</span></a>
                                </li>
                                <li><a href="/the-loai-admin"><span style="font-weight: bold; color: black;">Thể Loại Sách</span></a>
                                </li>
                                <li><a href="/khuyen-mai/admin"><span style="font-weight: bold; color: black;">Khuyến mãi</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul data-submenu-title="Người Dùng">
                        <li><a href="/nguoi-dung-admin"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Tài Khoản</span></a></li>
                        <li><a href="/dang-xuat"><i class="sl sl-icon-power"></i> <span
                                style="font-weight: bold; color: black;">Đăng Xuất</span></a></li>
                    </ul>
                    <ul data-submenu-title="Trang Chủ Bán Hàng">
                        <li><a href="/dashboard-myprofile"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Đổi Mật Khẩu</span></a></li>
                        <li><a href="/home"><i class="im im-icon-Home"></i> <span
                                style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <!-- Navigation / End -->


        <!-- Content
================================================== -->
        <div class="dashboard-content">
            <div class="col-lg-12">
                <div class="card-body" style="background: white">
                    <h2 style="font-weight: bold; color: black;font-size: 22px ;display: block">Tìm Kiếm</h2>
                    <div class="col-lg-3" style="margin-left: 370px;font-size: 15px; color: #0b7bb5;font-weight: bold"> Tìm kiếm theo khoảng ngày</div>
                    <br/>
                    <form th:action="@{/thong-ke-admin-doanh-thu/tim-kiem}" method="get">
                        <div style="display:flex">
                            <div style="width: 420px;margin-left: 33px">
                                <input  style="    margin-left: 350px;
    border-radius: 30px;
    width: 340px;" type="datetime-local" name="ngay1" pattern="yyyy-MM-ddTHH:mm:ss">
                            </div>
                            <div style="width: 420px; margin-right: 14px">
                                <input  style="border-radius: 30px;
    margin-left: 290px;
    width: 350px;" type="datetime-local" name="ngay2" pattern="yyyy-MM-ddTHH:mm:ss">
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger" style="margin-left: 220px ;border-radius:27px;height: 49px;font-size: 20px;background: #00A0D1">Tìm Kiếm
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            </br>
            <div class="col-lg-12" style="margin-top: 12px">
                <div class="card-body" style="background: white">
                    <h2 style="font-weight: bold; color: black;font-size: 22px ;display: block">Quản lý đơn hàng</h2>
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link active"
                                                    data-toggle="tab" href="#tabs-5" role="tab">Tất cả</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-6" role="tab">Chờ xác nhận</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-7" role="tab">Chờ lấy hàng</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-8" role="tab">Đã lấy hàng</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-9" role="tab">Đang giao</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-10" role="tab">Thành công</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-11" role="tab">Thất bại</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-12" role="tab">Chờ xác nhận trả hàng</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-13" role="tab">Từ chối trả hàng</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;" class="nav-link"
                                                    data-toggle="tab" href="#tabs-14" role="tab">Đồng ý trả hàng</a></li>
                        </ul>
                        <div class="tab-content dashboard-list-box invoices with-icons">
                            <div class="tab-pane active" id="#tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrder}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>

                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Chờ Xác Nhận</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: yellow;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                                <div class="buttons-to-right" style="margin-right: 120px">
                                                    <a th:href="'#order-' + ${y.id}" class="button gray">Hủy</a>
                                                </div>

                                                <!-- Modal for Đánh giá -->
                                                <div th:id="'order-' + ${y.id}" class="modal">
                                                    <div class="modal__content">
                                                        <form th:action="@{/addToOrderCancel}" method="post">
                                                            <div class="stars">
                                                                <input type="hidden" th:value="${y.id}" name="order_id">

                                                                <h4 style="margin-left: -30px">Chọn Lý Do Hủy Đơn Hàng:</h4>
                                                                <br>
                                                                <table style="text-align: center">
                                                                    <tr>
                                                                        <td style="text-align: left"> <input type="radio" name="reason"
                                                                                                             value="doi-dia-chi"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label >Đổi Địa Chỉ</label ></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align: left"><input type="radio" name="reason"
                                                                                                            value="doi-thong-tin"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label>Thay Đổi Thông
                                                                            Tin</label></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align: left"><input type="radio" name="reason"
                                                                                                            value="thêm khuyến mãi"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label>Thêm Khuyến Mãi</label></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align: left"><input type="radio" name="reason"
                                                                                                            value="xac-nhan-lau"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label>Lâu Xác Nhận Đơn Hàng</label></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align: left"><input type="radio" name="reason"
                                                                                                            value="Thấy Chỗ Rẻ Hơn"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label>Thấy Chỗ Rẻ Hơn</label></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align: left"><input type="radio" name="reason"
                                                                                                            value="ly-do-khac"></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                        <td style="text-align: left"><label>Lý
                                                                            do khác</label></td>
                                                                    </tr>


                                                                </table>
                                                            </div>
                                                            <br>
                                                            <input type="submit" value="Hủy Đơn Hàng">
                                                            <a href="#" class="modal__close">&times;</a>
                                                        </form>

                                                    </div>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>

                                </div>

                            </div>
                            <div class="tab-pane " id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive2}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Chờ Lấy Hàng</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane " id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive3}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Lấy Hàng Thành
                                                    Công</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane " id="tabs-8" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive4}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Đang Giao Hàng</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="tabs-9" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive5}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Giao Hàng Thất
                                                    Bại</b>
                                                <ul>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane " id="tabs-10" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive6}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>
                                                <span th:if="${#lists.size(y.order_Item) > 1}"
                                                      style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                ></span>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Giao Hàng Thành
                                                    Công</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                    <input type="hidden" id="ngayThanhCong"
                                                           th:value="${#dates.format(y.deliverySuccesfulDate, 'dd-MM-yyyy')}">

                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/statistic/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                                <div class="buttons-to-right" style="margin-right: 120px">
                                                    <a th:href="@{/xac-nhan-tra-hang/{id}(id=${y.id})}" id="nutTraHang"
                                                       class="button gray">Trả hàng</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            // Lấy giá trị ngày từ input
                                            var ngayThanhCongInput = document.getElementById("ngayThanhCong");
                                            var ngayThanhCongValue = ngayThanhCongInput.value;

                                            // Chuyển đổi ngày thành công thành đối tượng Date
                                            var ngayThanhCongDate = new Date(ngayThanhCongValue);

                                            // Lấy ngày hiện tại
                                            var ngayHienTai = new Date();

                                            // Tính sự khác biệt giữa ngày hiện tại và ngày thành công
                                            var soNgayKhacBiet = Math.ceil((ngayHienTai - ngayThanhCongDate) / (1000 * 60 * 60 * 24));

                                            // Kiểm tra điều kiện và ẩn nút trả hàng nếu cần
                                            var nutTraHang = document.getElementById("nutTraHang");
                                            if (soNgayKhacBiet > 7) {
                                                nutTraHang.style.display = "none";
                                            }
                                        });
                                    </script>

                                </div>
                            </div>

                            <div class="tab-pane " id="tabs-12" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="y : ${listOrderActive7}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${y.order_Item[0].product.product_Name}"></strong>

                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"> | Hủy</b>
                                                <ul>
                                                    <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${y.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${y.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${y.id}"></li>
                                                    <li th:text="'Ngày: ' + ${y.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${y.id})}" class="button gray">Xem Chi
                                                        Tiết</a>
                                                </div>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" id="tabs-13" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="order : ${listOrderActive8}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${order.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='8'}"> | Chờ Xác Nhận Chả Hàng</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='9'}"> | Trả Hàng Thất Bại</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='10'}"> | Trả Hàng Thành Công</b>
                                                <ul>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${order.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${order.id}"></li>
                                                    <li th:text="'Ngày: ' + ${order.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${order.id})}" class="button gray">Xem
                                                        Chi Tiết</a>
                                                </div>


                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-14" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="order : ${listOrderActive9}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${order.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='8'}"> | Chờ Xác Nhận Chả Hàng</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='9'}"> | Trả Hàng Thất Bại</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='10'}"> | Trả Hàng Thành Công</b>
                                                <ul>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${order.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${order.id}"></li>
                                                    <li th:text="'Ngày: ' + ${order.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${order.id})}" class="button gray">Xem
                                                        Chi Tiết</a>
                                                </div>


                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-15" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <th:block th:each="order : ${listOrderActive10}">
                                            <li>
                                                <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                                    th:text="${order.order_Item[0].product.product_Name}"></strong>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='8'}"> | Chờ Xác Nhận Chả Hàng</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='9'}"> | Trả Hàng Thất Bại</b>
                                                <b style="margin-left: 20px; color: rgb(207, 32, 97)"
                                                   th:if="${order.activeOrder.id=='10'}"> | Trả Hàng Thành Công</b>
                                                <ul>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Payment on delivery'}"
                                                    >Thanh Toán Khi Nhận Hàng
                                                    </li>
                                                    <li class="unpaid" style="color: #5392fa;"
                                                        th:if="${order.payment_Method=='Ví'}"
                                                    >Thanh Toán Bằng Ví Dự Chữ
                                                    </li>
                                                    <li class="paid" th:if="${order.payment_Method=='Payment with momo'}"
                                                    >Thanh Toán Ví MoMo
                                                    </li>
                                                    <li th:text="'Mã Hóa Đơn: #' + ${order.id}"></li>
                                                    <li th:text="'Ngày: ' + ${order.booking_Date}"></li>
                                                </ul>
                                                <div class="buttons-to-right">
                                                    <a th:href="@{/invoice/{id}(id=${order.id})}" class="button gray">Xem
                                                        Chi Tiết</a>
                                                </div>


                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content / End -->


    </div>
    <!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
        src="/scripts/jquery-migrate-3.3.2.min.js"></script>
<script type="text/javascript" src="/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script type="text/javascript" src="/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>

<!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
<script src="/scripts/moment.min.js"></script>
<script src="/scripts/daterangepicker.js"></script>


</body>
</html>
