<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/listeo/css/style.css">
    <link rel="stylesheet" href="/listeo/css/main-color.css" id="colors">
    <link rel="icon" href="/img/logo-3.png">
</head>
<style>
        .giaoDien {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        }


        .stats-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        }

        .stats-table th, .stats-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        }

        .stats-table th {
        background-color: #4CAF50;
        color: white;
        }
        .custom-nav-tabs .nav-item a {
            font-size: 15px;
            color: blue;
            font-weight: bold;
            transition: color 0.3s, border-bottom 0.3s;
        }

        .custom-nav-tabs .nav-item a:hover {
            color: red;
            border-bottom: 2px solid red;
        }

        .custom-nav-tabs .nav-item a{
            color: #e74c3c; /* Màu đỏ khi mục được chọn */
        }


</style>
<body>
<div id="wrapper">

    <!-- Header Container
================================================== -->
    <header id="header-container" class="fixed fullwidth dashboard">

        <!-- Header -->
        <div id="header" class="not-sticky" style="background: white">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo" style="background: white;">
                        <a href="index.html"><img src="/images/logo3.png" height="100px" width="180px" alt=""></a>
                        <a href="index.html" class="dashboard-logo" style="margin-left: 14px;"><img
                                src="/images/logo3.png" height="100px" width="180px" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
                                        class="hamburger-inner"></span>
								</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <!-- Header Widget -->
                    <div class="header-widget">

                        <!-- User Menu -->


                    </div>
                    <!-- Header Widget / End -->
                </div>
                <!-- Right Side Content / End -->
            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Dashboard -->
    <div id="dashboard">

        <!-- Navigation
================================================== -->

        <!-- Responsive Navigation Trigger -->


        <div class="dashboard-nav" style="background: white">
            <div class="dashboard-nav-inner">
                <ul data-submenu-title="Trang Chủ">
                    <li class="active"><a href="/home-admin"><i class="sl sl-icon-settings"></i> <span
                            style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    <li><a href="/thong-ke"><i class="sl sl-icon-wallet"></i> <span
                            style="font-weight: bold; color: black;">Thông Kê</span></a></li>
                    <li><a href="/quan-ly-don-hang"><i class="fa fa-calendar-check-o"></i> <span
                            style="font-weight: bold; color: black;">Quản Lý Hóa Đơn</span></a></li>
                    <ul data-submenu-title="Sản Phẩm">
                        <li><a href="#"><i class="sl sl-icon-layers"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Sản Phẩm</span></a>
                            <ul id="sub">
                                <li><a href="/san-pham-admin"><span
                                        style="font-weight: bold; color: black;">Sản Phẩm</span></a></li>
                                <li><a href="/tac-gia-admin"><span
                                        style="font-weight: bold; color: black;">Tác Giả</span></a></li>
                                <li><a href="/nha-san-xuat-admin"><span style="font-weight: bold; color: black;">Nhà Xuất Bản</span></a>
                                </li>
                                <li><a href="/bia-admin"><span style="font-weight: bold; color: black;">Bìa Sách</span></a>
                                </li>
                                <li><a href="/the-loai-admin"><span style="font-weight: bold; color: black;">Thể Loại Sách</span></a>
                                </li>
                                <li><a href="/khuyen-mai/admin"><span style="font-weight: bold; color: black;">Khuyến mãi</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul data-submenu-title="Người Dùng">
                        <li><a href="/nguoi-dung-admin"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Quản Lý Tài Khoản</span></a></li>
                        <li><a href="/dang-xuat"><i class="sl sl-icon-power"></i> <span
                                style="font-weight: bold; color: black;">Đăng Xuất</span></a></li>
                    </ul>
                    <ul data-submenu-title="Trang Chủ Bán Hàng">
                        <li><a href="/dashboard-myprofile"><i class="sl sl-icon-user"></i> <span
                                style="font-weight: bold; color: black;">Đổi Mật Khẩu</span></a></li>
                        <li><a href="/home"><i class="im im-icon-Home"></i> <span
                                style="font-weight: bold; color: black;">Trang Chủ</span></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <!-- Navigation / End -->


        <!-- Content
================================================== -->
        <div class="dashboard-content">
<!--            <div class="col-lg-12">-->
<!--                <div class="card-body" style="background: white">-->
<!--                    <div class="row">-->

<!--                        &lt;!&ndash; Item &ndash;&gt;-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="dashboard-stat color-1">-->
<!--                                <div class="dashboard-stat-content wallet-totals">-->
<!--                                    <h4-->
<!--                                            th:text="${#numbers.formatDecimal(TotalMomo, 0, 'COMMA', 0, 'POINT')}"></h4>-->
<!--                                    <span>Thanh Toán Ví MoMo<strong class="wallet-currency">VNĐ</strong></span>-->
<!--                                </div>-->
<!--                                <div class="dashboard-stat-icon">-->
<!--                                    <i class="im im-icon-Money-2"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Item &ndash;&gt;-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="dashboard-stat color-3">-->
<!--                                <div class="dashboard-stat-content wallet-totals">-->
<!--                                    <h4-->
<!--                                            th:text="${#numbers.formatDecimal(TotalDelivery, 0, 'COMMA', 0, 'POINT')}"></h4>-->
<!--                                    <span>Thanh Toán Khi Nhận Hàng<strong class="wallet-currency">VNĐ</strong></span>-->
<!--                                </div>-->
<!--                                <div class="dashboard-stat-icon">-->
<!--                                    <i class="im im-icon-Money-Bag"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="dashboard-stat color-3">-->
<!--                                <div class="dashboard-stat-content wallet-totals">-->
<!--                                    <h4-->
<!--                                            th:text="${#numbers.formatDecimal(vi, 0, 'COMMA', 0, 'POINT')}"></h4>-->
<!--                                    <span>Thanh Toán Bằng Ví Dự Trữ<strong class="wallet-currency">VNĐ</strong></span>-->
<!--                                </div>-->
<!--                                <div class="dashboard-stat-icon">-->
<!--                                    <i class="im im-icon-Money-Bag"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Item &ndash;&gt;-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="dashboard-stat color-2">-->
<!--                                <div class="dashboard-stat-content">-->
<!--                                    <h4-->
<!--                                            th:text="${#numbers.formatDecimal(TotalOrder, 0, 'COMMA', 0, 'POINT')}"></h4>-->
<!--                                    <span>Tổng Đơn Hàng</span>-->
<!--                                </div>-->
<!--                                <div class="dashboard-stat-icon">-->
<!--                                    <i class="im im-icon-Shopping-Cart"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
            </br>
            <div class="col-lg-12" style="margin-top: 12px">
                <div class="card-body" style="background: white">
                    <h2 style="font-weight: bold; color: black;font-size: 22px ;display: block">Thống kê sản phẩm</h2>
                    <form th:action="@{/thong-ke/tim-kiem}" method="get">
                        <div class="justify-content-center">
                            <div class="input-group mb-3">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <input  style="    width: 390px;
    height: 40px;    margin-left: 840px;
    border-radius: 30px;" type="text" name="tenSP" class="form-control input-text"
                                                placeholder="Tìm kiếm theo tên đang tìm... " aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                    </div>

                                    <div class="col-lg-1">
                                        <button class="btn btn-info" style="
    width: 100px;
        margin-left: 790px;
    height: 39px;
    font-size: 15px;
    border-radius: 30px;"
                                                type="submit">Tìm Kiếm
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
                            <li class="nav-item"><a style="font-size: 15px;font-weight: bold; color:#0b0b0b;"
                                                     href="/thong-ke" >Thống kê sản phẩm</a></li>
                            <li class="nav-item"><a style="font-size: 15px;font-weight: bold; color:#0b0b0b;"
                                                    href="/thong-ke-don-hang">Thông kê theo đơn hàng</a></li>
                            <li class="nav-item"><a style="font-size: 15px; color:#0b0b0b;font-weight: bold;"
                                                    href="/thong-ke-admin-doanh-thu" >Thông kê theo doanh thu</a></li>
                        </ul>
                        <div class="tab-content dashboard-list-box invoices with-icons">
                            <div class="tab-pane active" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="dashboard-list-box margin-top-0">
                                                <div class="giaoDien">
                                                    <table class="stats-table">
                                                        <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Tên Sản Phẩm</th>
                                                            <th>Số Lượng Tồn</th>
                                                            <th>Số Lượng Đã Bán</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- Dữ liệu thống kê được thêm vào đây bằng Thymeleaf -->
                                                        <tr th:each="result, stat : ${listSP}">
                                                            <td th:text="${stat.index + 1}"></td>
                                                            <td th:text="${result.product_Name}"></td>
                                                            <td th:text="${result.quantity}"></td>
                                                            <td th:text="${result.sold}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <!-- Pagination / End -->
                                            </div>
                                            <div th:if="${a==null}" style="margin-top: 10px">
                                                <!--phân trang cho sản phẩm-->
                                                <nav aria-label="..." style="margin-left: 560px ;font-size: 15px;color: black">
                                                    <ul class="pagination">
                                                        <!--trang đầu-->
                                                        <li class="page-item">
                                                            <a class="page-link" th:href="@{/thong-ke(pageNo=0)}">Trang
                                                                Đầu</a>
                                                        </li>
                                                        <!--Previous-->
                                                        <!--số thứ tự trang-->
                                                        <!--dùng for i trong thymleaf-->
                                                        <div th:each="index : ${#numbers.sequence(0, listSPtPage-1)}">
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   th:href="@{/thong-ke(pageNo=${index})}"
                                                                   th:text="${index+1}"></a>
                                                            </li>
                                                        </div>
                                                        <!--Next-->
                                                        <!--trang cuối-->
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               th:href="@{/thong-ke(pageNo=${listSPtPage -1})}">Trang
                                                                Cuối</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div th:if="${a!=null}" style="margin-top: 10px">
                                                <!--phân trang cho sản phẩm-->
                                                <nav aria-label="..." style="margin-left: 560px ;font-size: 15px;color: black">
                                                    <ul class="pagination">
                                                        <!--trang đầu-->
                                                        <li class="page-item">
                                                            <a class="page-link" th:href="@{/thong-ke(pageNo=0)}">Trang
                                                                Đầu</a>
                                                        </li>
                                                        <!--Previous-->
                                                        <!--số thứ tự trang-->
                                                        <!--dùng for i trong thymleaf-->
                                                        <div th:each="index : ${#numbers.sequence(0, listSPtPage-1)}">
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   th:href="@{/thong-ke(pageNo=${index})}"
                                                                   th:text="${index+1}"></a>
                                                            </li>
                                                        </div>
                                                        <!--Next-->
                                                        <!--trang cuối-->
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               th:href="@{/thong-ke(pageNo=${listSPtPage -1})}">Trang
                                                                Cuối</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content / End -->


    </div>
    <!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
        src="/scripts/jquery-migrate-3.3.2.min.js"></script>
<script type="text/javascript" src="/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script type="text/javascript" src="/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
<script src="/scripts/moment.min.js"></script>
<script src="/scripts/daterangepicker.js"></script>


</body>
</html>
