<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>
    <link rel="icon" href="/img/logo-3.png">
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
                style="color: white;"></a> <a th:if="${session.acc != null}"
                                              th:href="@{/signout}">Đăng Xuất</a><a href="#">Câu hỏi thường gặp</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>USD <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png"
                                               alt=""></a> <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a th:href="@{/cart}"><img src="img/icon/cart.png" alt="">
            <span th:text="${session.countCart}"></span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Miễn phí vận chuyển, Đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                                th:if="${session.acc != null}"
                                th:text="${session.acc.user_Name}" style="color: white;"></a> <a
                                th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="
    margin-top: -30px;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/home}">Trang Chủ</a></li>
                        <li><a th:href="@{/shop}">Cửa Hàng</a></li>
                        <li><a href="#">Thông Tin</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                                <li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
                                <li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
                                <li><a th:href="@{/about}">Về Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Tin Tức</a></li>
                        <li><a th:href="@{/contact}">Liên Lạc</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img
                            src="img/icon/search.png" alt=""></a>
                    <a href="/thong-tin" class=""><img
                            src="img/logiImgVi.jpg" alt="" style="height: 37px;"></a>
                    </a> <a th:href="@{/cart}"><img
                        src="img/icon/cart.png" alt=""> <span
                        th:text="${session.countCart}"></span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg"
         data-setbg="https://cafebiz.cafebizcdn.vn/162123310254002176/2020/7/18/photo-1507842217343-583bb7270b66-15950834286661091221208-15950835397121305942663.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cửa Hàng Sách</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://naidecor.vn/wp-content/uploads/2019/12/Sach-gia-decor-trang-tri-sach-mo-hinh-2.jpg"></div>
                    <div class="blog__item__text">
                        <h5>Ưu điểm của nhiều bộ sách giáo khoa</h5>
                        <p>Không thể dùng tư duy cũ để dạy sách mới, đánh giá học sinh kiểu cũ, rồi vội vàng
                            kết luận 'sách giáo khoa bây giờ không bằng ngày xưa'</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-beautiful-book-cartoon-illustration-image_1245639.jpg"></div>
                    <div class="blog__item__text">
                        <h5>
                            Yêu cầu Bộ Giáo dục soạn SGK là đi ngược xu hướng quốc tế
                        </h5>
                        <p>Theo đại biểu Nguyễn Duy Thanh, đoàn giám sát đề nghị Bộ Giáo dục và Đào tạo biên
                            soạn một bộ sách giáo khoa phổ thông là quay lại độc quyền, ngược xu hướng quốc tế</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://c2lehongphong.pgdhadong.edu.vn/uploads/c2lehongphong/news/2023_04/anh-nghe-thuat-ve-cuon-sach_093706002.jpg"></div>
                    <div class="blog__item__text">
                        <h5>Một bộ giáo khoa Nhà nước
                        </h5>
                        <p>Hiệu phó một trường miền núi liên hệ với tôi để hỏi xem bộ sách giáo khoa (SGK) do
                            Bộ Giáo dục & Đào tạo biên soạn đã được triển khai chưa và bao giờ hoàn thành</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://media.istockphoto.com/id/501794256/vi/anh/s%C3%A1ch-s%C3%A1ch-s%C3%A1ch-ch%E1%BA%A5t-%C4%91%E1%BB%91ng.jpg?s=612x612&w=0&k=20&c=gNdsZH46dylcHwI5CdSuofw2vx-oNFrpt90CWOmRA4A="></div>
                    <div class="blog__item__text">
                        <h5>3 quyển sách về kiến thức thưởng thức nghệ thuật</h5>
                        <p>Bộ "Công cụ thưởng ngoạn nghệ thuật” cung cấp kiến thức cơ bản từ phong cách, thủ pháp đến
                            các bước ngoặt trong lịch sử nghệ thuật thế giới.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://i.pinimg.com/736x/13/70/ea/1370eaea9f62edb2ce3a6711dc665018.jpg"></div>
                    <div class="blog__item__text">
                        <h5>13 phát kiến định hình tương lai</h5>
                        <p>Sách "Những điều sắp tới" của tác giả Avi Jorisch giới thiệu các thành tựu khoa học và sáng
                            kiến giúp cải tạo và phát triển thế giới.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://c.pxhere.com/photos/56/65/book_open_pitched_book_pages_pages_font_flower_blossom-1045725.jpg!s2"></div>
                    <div class="blog__item__text">
                        <h5>'Thú chơi sách' của Vương Hồng Sển</h5>
                        <p>ác phẩm của Vương Hồng Sển là một trong những cẩm nang đầu tiên của Việt Nam định nghĩa "thú
                            chơi sách", nhắc người đọc giữ gìn các ấn phẩm.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://photo-cms-smoney.epicdn.me/w700/Uploaded/2023/drkxrreiox/2023_05_03/c3af23baa56f7a31237e-2917.jpg"></div>
                    <div class="blog__item__text">

                        <h5>'Vương quốc Hà Lan' qua góc nhìn Đại sứ Phạm Việt Anh</h5>
                        <p href="#">Đại sứ Phạm Việt Anh đưa người đọc khám phá "đất nước hoa tulip" qua 20 chữ cái,
                            trong "Vương quốc Hà Lan".

                            Tác phẩm ghi lại cảm nhận của đại sứ trong thời gian làm việc từ năm 2020 đến giữa năm
                            nay.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://rivucota.com/upload/img/111.jpg"></div>
                    <div class="blog__item__text">

                        <h5>Phận đời 'Trôi' trong truyện Nguyễn Ngọc Tư</h5>
                        <p>Nguyễn Ngọc Tư dùng từ "trôi" mô tả những cuộc di cư của người vùng sông nước, trong tập
                            truyện ngắn cùng tên mới ra mắt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://images.pexels.com/photos/3278768/pexels-photo-3278768.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
                    <div class="blog__item__text">
                        <h5>'Bốn kiếp thùy liễu' - cốt cách phụ nữ qua truyện Sơn Táp</h5>
                        <p href="#">"Bốn kiếp thùy liễu" thuật bốn chuyện ở thời đại lịch sử khác nhau của Trung Quốc,
                            trong đó "thùy liễu" tượng trưng cốt cách cao đẹp của phụ nữ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng Sách</a></li>
                        <li><a href="#">Sách Xu Hướng</a></li>
                        <li><a href="#">Doanh thu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả lại & Trao đổi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Tin tứcThư</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
                            & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
                            class="fa fa-heart-o" aria-hidden="true"></i> qua <a
                            href="https://colorlib.com" target="_blank">SD-81</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form th:action="@{/search}" method="POST" class="search-model-form">
            <input name="search-input" type="text" id="search-input"
                   placeholder="Search here.....">
        </form>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>