<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>
    <link rel="icon" href="/img/logo-3.png">
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .ml-auto {
            margin-left: auto; /* Đặt margin-left là auto để đẩy phần tử sang bên phải */
        }
    </style>
</head>

<body>

<script th:if="${session.AddToCartErr != null}">
    swal("Lỗi", "Vui lòng chọn địa chỉ nhận hàng và nhập địa chỉ nhận hàng hoặc số tiền trong ví không đủ!", "error");
</script>


<p th:if="${session.AddToCartErr != null}" th:text="${#session.setAttribute('AddToCartErr', null)}"
   style="display: none;"></p>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                th:if="${session.acc != null}" th:text="${session.acc.user_Name}"></a>
            <a th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/img/icon/search.png"
                                               alt=""></a> <a href="#"><img src="/img/icon/heart.png" alt=""></a>
        <a th:href="@{/cart}"><img src="/img/icon/cart.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">

    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                                th:if="${session.acc != null}"
                                th:text="${session.acc.user_Name}" style="color: white;"></a> <a
                                th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>

                            <span  th:if="${session.acc != null}"><a href="/thong-tin" style="list-style: none;color: white">Số Dư: [[${vi.price}+0]] VNĐ</a></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="
    margin-top: -30px;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/home}" style="font-size: 15px">Trang Chủ</a></li>
                        <li><a th:href="@{/shop}" style="font-size: 15px">Cửa Hàng</a></li>
                        <li><a href="# " style="font-size: 15px">Thông Tin</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                                <li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
                                <li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
                                <li><a th:href="@{/about}">Về Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}" style="font-size: 15px">Tin Tức</a></li>
                        <li><a th:href="@{/contact}" style="font-size: 15px">Liên Lạc</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img
                            src="img/icon/search.png" alt=""></a> <a href="#"><img
                        src="img/icon/heart.png" alt=""></a> <a th:href="@{/cart}"><img
                        src="img/icon/cart.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Thanh Toán</h4>
                    <div class="breadcrumb__links">
                        <a th:href="@{/home}">Trang Chủ</a> <a th:href="@{/shop}">Cửa Hàng</a> <span>Thanh Toán</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <h6 class="coupon__code">
                        <span class="icon_tag_alt"></span> Bạn Đã Có Mã Khuyến Mãi Chưa? <a id="data-open-modal"
                                                                                            href="#" onclick="open1();">Ấn
                        Vào
                        Đây Để Chọn
                        Mã Bạn Muốn</a>
                    </h6>
                </div>
                <dialog id="data-modal"  class="tab-pane "  role="tabpanel">
                    <div class="product__details__tab__content">
                        <h4>Sao Chép Mã Khuyến Mãi Bạn Muốn</h4>
                        <ul style="list-style: none">
                            <th:block th:each="y : ${listKhuyenMai}" >
                                <li style="list-style: none">
                                    <br>
                                    <i class="list-box-icon sl sl-icon-doc"></i> <strong
                                        th:text="'Mã Khuyến Mãi: '+ ${y.couponCode}" s></strong>
                                    <ul>
                                        <!-- Điều này là phần bạn muốn hiển thị khi mục được click -->

                                        <li  style="list-style: none" th:text="'Phần Trăm Giảm: ' + ${y.discountValue}+'%'"></li>
                                        <li style="list-style: none" th:text="'Ngày Hết Hạn: ' + ${#dates.format(y.expiredAt, 'dd-MM-yyyy')}"></li>
                                    </ul>

                                </li>
                            </th:block>
                        </ul>
                        </table>
                    </div>
                    <br>
                    <button onclick="out();" style="margin-left: 170px;">Thoát</button>
                </dialog>
                <script>
                    function open1() {
                        var moder = document.getElementById("data-modal")
                        moder.showModal();

                    }

                    function out() {
                        var moder = document.getElementById("data-modal")
                        moder.close();

                    }

                    document.getElementById('maGiamGia').addEventListener('dblclick', function () {
                        // Tạo một textarea ẩn để có thể sử dụng phương thức copy
                        var textarea = document.createElement('textarea');
                        textarea.value = this.textContent;
                        document.body.appendChild(textarea);

                        // Lựa chọn toàn bộ nội dung của textarea và sao chép vào clipboard
                        textarea.select();
                        document.execCommand('copy');

                        // Loại bỏ textarea vì không cần nó nữa
                        document.body.removeChild(textarea);

                        // Thông báo hoặc xử lý khác nếu cần
                        alert('Đã sao chép nội dung: ' + this.textContent);
                    });
                </script>
                <div class="cart__discount col-lg-4 col-md-6 ml-auto">
                    <h6>MÃ GIẢM GIÁ</h6>
                    <form action="checkout" method="get">
                        <input type="text" name="discountCode" placeholder="Nhập mã giảm giá">
                        <button type="submit">Áp dụng mã</button>
                    </form>
                </div>
            </div>
            <form action="checkout" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h5 class="section-title position-relative text-uppercase mb-3">
                            <span class="">Địa chỉ nhận hàng</span>
                        </h5>
                        <input type="checkbox" name="diaChiChon" value="diaChiCu" id="checkbox1" >
                        <label for="checkbox1" class="label_check_box">Địa chỉ ban đầu</label>
                        <br>
                        <div id="view_dia_chi_cu" style="display:block">
                            <div class="bg-light p-30 mb-5">
                                <div class="row">
                                    <div class="col-md-6 form-group" style="margin-top: 30px">
                                        <label>Họ tên :</label>
                                        <input class="form-control" type="text" name="fullname" id="ten"
                                               th:value="${session.acc.user_Name}" readonly>
                                        <input type="hidden" name="fullname" th:value="${session.acc.user_Name}">

                                    </div>
                                    <div class="col-md-6 form-group" style="margin-top: 30px">
                                        <label>Email :</label>
                                        <input class="form-control" type="text" name="email" id="email"
                                               th:value="${session.acc.email}" readonly>
                                        <input type="hidden" name="email" th:value="${session.acc.email}">

                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Số điện thoại :</label>
                                        <input class="form-control" type="text" name="phone" id="sdt"
                                               th:value="${session.acc.phone_Number}" readonly>

                                        <input type="hidden" name="phone">

                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Tỉnh :</label>
                                        <input class="form-control" type="text" name="province"
                                               th:value="${session.acc.province}" id="tinh" readonly>
                                        <input type="hidden" name="country" th:value="${session.acc.province}">

                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Huyện : </label>
                                        <input class="form-control" type="text" name="districts"
                                               th:value="${session.acc.districts}"
                                               id="huyen"
                                               readonly>
                                        <input type="hidden" name="address" th:value="${session.acc.districts}">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Xã :</label>
                                        <input class="form-control" type="text" name="wards" id="xa"
                                               th:value="${session.acc.wards}"
                                               readonly>
                                        <input type="hidden" name="wards" th:value="${session.acc.wards}">
                                    </div>

                                    <div class="col-12">
                                        <label>Số Nhà :</label>
                                        <span style="color: red">*</span>
                                        <textarea id="mess" name="note" class="form-control" rows="4"
                                                  placeholder="Nhập Địa Chỉ Cụ Thể"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <input type="checkbox" name="diaChiChon" value="diaChiMoi" id="checkbox2"
                               onclick="toggleView('view_dia_chi_moi')">
                        <label for="checkbox2" class="label_check_box">Địa chỉ mới</label>
                        <div id="view_dia_chi_moi" style="display:none">
                            <div class="bg-light p-30 mb-5">
                                <div class="bg-light p-30 mb-5">
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-6 form-group" style="margin-top: 20px;">
                                            <label>Họ tên</label>
                                            <span style="color: red">*</span>
                                            <input class="form-control" name="fullname1" id="ten1" type="text"
                                                   placeholder="Họ tên">
                                        </div>
                                        <div class="col-md-6 form-group" style="margin-top: 20px;">
                                            <label>Email</label>
                                            <span style="color: red">*</span>
                                            <input class="form-control" name="email1" id="email1" type="text"
                                                   placeholder="Email">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Số điện thoại</label>
                                            <span style="color: red">*</span>
                                            <input class="form-control" name="phone1" id="sdt1" type="text"
                                                   placeholder="Số điện thoại">
                                        </div>

                                        <div class="col-md-6 form-group">
                                            <label for="province">Tỉnh:</label>
                                            <span style="color: red">*</span>
                                            <select id="province" class="form-control"
                                                    onchange="loadDistricts(); checkSelection()">
                                                <option value="">Chọn tỉnh</option>
                                            </select>
                                            <input type="hidden" id="tinh1" name="province1">
                                        </div>

                                        <div class="col-md-6 form-group" style="margin-bottom: 20px">
                                            <label for="district">Huyện:</label>
                                            <span style="color: red">*</span>
                                            <select id="district" class="form-control"
                                                    onchange="loadWards(); checkSelection()"
                                                    disabled>
                                                <option value="">Chọn huyện</option>
                                            </select>
                                            <input type="hidden" id="huyen1" name="districts1">
                                        </div>
                                        <div class="col-md-6 form-group" style="margin-bottom: 20px">
                                            <label for="ward">Xã:</label>
                                            <span style="color: red">*</span>
                                            <select id="ward" class="form-control" onchange="checkSelection()" disabled>
                                                <option value="">Chọn xã</option>
                                            </select>
                                            <input type="hidden" id="xa1" name="wards1">
                                        </div>
                                        <div class="col-12">
                                            <label>Số Nhà :</label>
                                            <span style="color: red">*</span>
                                            <textarea id="messMoi" name="note1" class="form-control" rows="4"
                                                      placeholder="Nhập Địa Chỉ Cụ Thể"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">

                        <div class="checkout__order">
                            <h4 class="order__title">ĐƠN HÀNG CỦA BẠNr</h4>
                            <div class="checkout__order__products">
                                Sản Phẩm <span>Giá</span>
                            </div>
                            <ul class="checkout__total__products">
                                <th:block th:if="${yStat.index < 10}" th:each="y : ${listCart}">
                                    <div>
                                        <li
                                                th:text="'0'+ ${yStat.index +1} + '. ' + ${y.product.product_Name}"></li>
                                        <span th:text="${#numbers.formatDecimal(y.product.price * y.count, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                                    </div>

                                </th:block>
                                <th:block th:if="${yStat.index >= 10}"
                                          th:each="y : ${listCart}">
                                    <li
                                            th:text="${yStat.index +1} + '. ' + ${y.product.product_Name}"><span
                                            th:text="${#numbers.formatDecimal(y.product.price * y.count, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                                    </li>
                                </th:block>
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Giá <span
                                        th:text="${#numbers.formatDecimal(Total, 0, 'COMMA', 0, 'POINT')} +'VNĐ'"
                                        id="total"></span>
                                </li>
                                <li>Phí Vận Chuyển
                                    <span style="color: red" id="shipcode"></span>
                                    <input type="hidden" name="ship" id="ship" readonly
                                           style="border: none; background: none; text-align: left;padding-left: 50%">
                                </li>
                                <th:block th:if="${discount > 0}">
                                    <li>Giảm Giá <span id="giaGiamc"
                                                       name="giaGiamc"
                                                       th:text="'-'+${#numbers.formatDecimal(discount, 0, 'COMMA', 0, 'POINT')} +'VNĐ'"></span>
                                        <input type="hidden" name="discal" id="discal">

                                    </li>
                                </th:block>
                                <hr>
                                <li>Tổng Giá <span id="tongTienString"></span>
                                    <input type="hidden" name="toTalFinal" id="toTalFinal" readonly
                                           style="border: none; background: none; text-align: left;padding-left: 50%">
                                </li>
                            </ul>

                            <div class="checkout__input__checkbox">
                                <label for="payment"> Thanh Toán Khi Nhận Hàng <input
                                        name="payOndelivery" type="checkbox" id="payment" checked>
                                    <span
                                            class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal"> Thanh Toán MoMo <input
                                        name="payWithMomo" type="checkbox" id="paypal"> <span
                                        class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="payVi"> Thanh Toán Bằng Ví <input
                                        name="payVi" type="checkbox" id="payVi"> <span
                                        class="checkmark"></span>
                                </label>
                            </div>
                            <script>

                                var payment = document.getElementById("payment");
                                var paypal = document.getElementById("paypal");
                                var payVi = document.getElementById("payVi");
                                payment.addEventListener("change", async function () {
                                    if (payment.checked) {
                                        paypal.checked = false;
                                        payVi.checked = false;
                                    }
                                });
                                paypal.addEventListener("change", async function () {
                                    if (paypal.checked) {
                                        payment.checked = false;
                                        payVi.checked = false;
                                    }
                                });
                                payVi.addEventListener("change", async function () {
                                    if (payVi.checked) {
                                        paypal.checked = false;
                                        payment.checked = false;
                                    }
                                });

                            </script>
                            <p style="color:red;">[[${loi}]]</p>
                            <button type="submit" class="site-btn">Thanh Toán</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>

</script>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng Sách</a></li>
                        <li><a href="#">Sách Xu Hướng</a></li>
                        <li><a href="#">Doanh thu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả lại & Trao đổi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Tin tứcThư</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
                            & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
                            class="fa fa-heart-o" aria-hidden="true"></i> qua <a
                            href="https://colorlib.com" target="_blank">SD-81</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    // Get the total element by its ID
    var totalElement = document.getElementById('total');

    // Extract the text content of the total element
    var totalText = totalElement.textContent || totalElement.innerText;

    // Remove non-numeric characters and parse the result as a float
    var totalValue = parseFloat(totalText.replace(/[^\d.]/g, ''));

    // Log or use the total value as needed
    console.log(totalValue);

    var gia = parseFloat(document.getElementById("price").value);
    var gia1 = gia;
    document.getElementById("price1").value = gia1.toFixed(0);

    var gia1Formatted1 = gia.toLocaleString('vi-VN', {minimumFractionDigits: 0, maximumFractionDigits: 3});

    var gia1WithCurrency1 = gia1Formatted1 + " VNĐ";

    document.getElementById("price").value = gia1WithCurrency1;
    document.getElementById("tongTienString").innerText = gia1WithCurrency1;

    function updatePrice(radioButton) {
        var priceInput = document.getElementById("price");
        // var currentPrice = parseFloat(${hoaDon.thanhTien});
        var selectedValue = parseFloat(radioButton.value);
        // var newPrice = currentPrice - (currentPrice * selectedValue / 100);

        var gia1Formatted = newPrice.toLocaleString('vi-VN', {minimumFractionDigits: 0, maximumFractionDigits: 3});

        var gia1WithCurrency = gia1Formatted + " VNĐ";

        priceInput.value = gia1WithCurrency;
        document.getElementById("tongTienString").innerText = gia1WithCurrency;
    }

    function toggleView(elementId) {
        var element = document.getElementById(elementId);
        element.style.display = (element.style.display === "block") ? "none" : "block";
    }

</script>
<script>
    function showCondition(condition) {
        document.getElementById("condition-text").innerHTML = condition;
        document.getElementById("condition-popup").style.display = "block";
    }

    function closeCondition() {
        document.getElementById("condition-popup").style.display = "none";
    }
</script>
<script>
    var checkbox1 = document.getElementById("checkbox1");
    var checkbox2 = document.getElementById("checkbox2");
    var view_dia_chi_cu = document.getElementById("view_dia_chi_cu");
    var view_dia_chi_moi = document.getElementById("view_dia_chi_moi");

    var bothUnchecked = true;

    // Thêm sự kiện cho checkbox1 để kiểm tra trạng thái của checkbox2
    checkbox1.addEventListener("change", async function () {
        if (checkbox1.checked) {
            checkbox2.checked = false;
            view_dia_chi_moi.style.display = "none";
            view_dia_chi_cu.style.display = "block";
            document.getElementById("province").selectedIndex = 0;
            document.getElementById("district").selectedIndex = 0;
            document.getElementById("ward").selectedIndex = 0;
            document.getElementById('ten1').style.borderColor = 'gray';
            document.getElementById('email1').style.borderColor = 'gray';
            document.getElementById('sdt1').style.borderColor = 'gray';
            document.getElementById('province').style.borderColor = 'gray';
            document.getElementById('district').style.borderColor = 'gray';
            document.getElementById('ward').style.borderColor = 'gray';
            await findCalculateShipping();
        }
        checkBothUnchecked();
    });

    // Thêm sự kiện cho checkbox2 để kiểm tra trạng thái của checkbox1
    checkbox2.addEventListener("change", function () {
        if (checkbox2.checked) {
            checkbox1.checked = false;
            view_dia_chi_moi.style.display = "block";
            document.getElementById('ten').style.borderColor = 'gray';
            document.getElementById('email').style.borderColor = 'gray';
            document.getElementById('sdt').style.borderColor = 'gray';
            document.getElementById('tinh').style.borderColor = 'gray';
            document.getElementById('huyen').style.borderColor = 'gray';
            document.getElementById('xa').style.borderColor = 'gray';
            // document.getElementById('mess').style.borderColor = 'gray';

        }
        checkBothUnchecked();
    });

    function checkBothUnchecked() {
        if (!checkbox1.checked && !checkbox2.checked) {
            const shippingCost = 0;

            var totalElement = document.getElementById('total');

            var totalText = totalElement.textContent || totalElement.innerText;

            var totalValue = parseFloat(totalText.replace(/[^\d.]/g, ''));


            var giamGiaC = document.getElementById('giaGiamc');
            console.log(giamGiaC);

            if (giamGiaC == null) {
                var tongSoTien = totalValue + shippingCost;
            } else {

                var giamGia1 = giamGiaC.textContent || giamGiaC.innerText;

                var giamGia1Value = parseFloat(giamGia1.replace(/[^\d.]/g, ''));

                document.getElementById("discal").value = giamGia1Value;
                var tongSoTien = totalValue + shippingCost - giamGia1Value;
            }
            var gia1Formatted3 = shippingCost.toLocaleString('vi-VN', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 3
            });

            var gia1WithCurrency3 = gia1Formatted3 + " VNĐ";

            document.getElementById("ship").value = gia1WithCurrency3;
            document.getElementById("shipcode").innerText = gia1WithCurrency3;
            console.log(gia1WithCurrency3)

            var gia1Formatted2 = tongSoTien.toLocaleString('vi-VN', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 3
            });
            //
            var gia1WithCurrency2 = gia1Formatted2 + " VNĐ";
            //
            // priceInput.value = gia1WithCurrency2;
            document.getElementById("toTalFinal").value = tongSoTien;
            document.getElementById("tongTienString").innerText = gia1WithCurrency2;
            bothUnchecked = true;
            document.getElementById("province").selectedIndex = 0;
            document.getElementById("district").selectedIndex = 0;
            document.getElementById("ward").selectedIndex = 0;
        }
        if (!checkbox1.checked && checkbox2.checked) {
            const shippingCost = 0;

            var totalElement = document.getElementById('total');

            var totalText = totalElement.textContent || totalElement.innerText;

            var totalValue = parseFloat(totalText.replace(/[^\d.]/g, ''));


            var giamGiaC = document.getElementById('giaGiamc');
            if (giamGiaC == null) {
                var tongSoTien = totalValue + shippingCost;
            } else {

                var giamGia1 = giamGiaC.textContent || giamGiaC.innerText;

                var giamGia1Value = parseFloat(giamGia1.replace(/[^\d.]/g, ''));
                document.getElementById("discal").value = giamGia1Value;

                var tongSoTien = totalValue + shippingCost - giamGia1Value;
            }

            document.getElementById("toTalFinal").value = tongSoTien;
            document.getElementById("tongTienString").innerText = tongSoTien;

            var gia1Formatted3 = shippingCost.toLocaleString('vi-VN', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 3
            });

            var gia1WithCurrency3 = gia1Formatted3 + " VNĐ";

            document.getElementById("ship").value = gia1WithCurrency3;
            document.getElementById("shipcode").innerText = gia1WithCurrency3;
            console.log(gia1WithCurrency3)

            var gia1Formatted2 = tongSoTien.toLocaleString('vi-VN', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 3
            });

            var gia1WithCurrency2 = gia1Formatted2 + " VNĐ";

            // priceInput.value = gia1WithCurrency2;
            document.getElementById("tongTienString").innerText = gia1WithCurrency2;
            bothUnchecked = true;
        }
    }

    // Thêm sự kiện onchange cho các combobox

    // Hàm để cập nhật giá trị các input dựa trên các combobox đã chọn


    async function findProvinceIdByName(provinceName) {
        const response = await fetch(`http://localhost:8080/public/provinces`);
        const data = await response.json();

        for (const province of data.data) {
            if (province.ProvinceName === provinceName) {
                return province.ProvinceID;
            }
        }

        return null;
    }

    async function findProvinceNameById(provinceid) {
        const response = await fetch(`http://localhost:8080/public/provinces`);
        const data = await response.json();

        for (const province of data.data) {
            if (province.ProvinceID === provinceid) {
                return province.ProvinceName;
            }
        }

        return null;
    }

    async function findDistrictIdByName(districtName, provinceId) {
        const response = await fetch('http://localhost:8080/public/districts?province_id=' + provinceId);
        const data = await response.json();

        for (const district of data.data) {
            if (district.DistrictName === districtName) {
                return district.DistrictID;
            }
        }

        // Trả về null nếu không tìm thấy huyện nào có tên tương ứng
        return null;
    }

    async function findWardIdByName(wardName, districtId) {
        const response = await fetch('http://localhost:8080/public/wards?district_id=' + districtId);
        const data = await response.json();

        for (const ward of data.data) {
            if (ward.WardName === wardName) {
                return ward.WardCode;
            }
        }

        // Trả về null nếu không tìm thấy xã nào có tên tương ứng
        return null;
    }

    async function findCalculateShipping() {
        var tinh = document.getElementById("tinh").value;
        var provinceName = tinh;
        var provinceId = await findProvinceIdByName(provinceName);


        var huyen = document.getElementById("huyen").value;
        var districtName = huyen;
        var districtId = await findDistrictIdByName(districtName, provinceId);

        var xa = document.getElementById("xa").value;
        var wardName = xa;
        var wardId = await findWardIdByName(wardName, districtId);

        // var mess = document.getElementById("mess").value;
        // var wardName = mess;
        // var wardId = await findWardIdByName(wardName, districtId);

        const transportationFeeDTO = {
            toDistrictId: districtId,
            toWardCode: wardId,
            quantity: 1,
            insuranceValue: 0
        };

        try {
            const response = await fetch('http://localhost:8080/public/transportationFee', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(transportationFeeDTO)
            });

            const data = await response.json();

            if (data && data.code === 200) {
                const shippingCost = data.data.total;
                var totalElement = document.getElementById('total');

                var totalText = totalElement.textContent || totalElement.innerText;

                var totalValue = parseFloat(totalText.replace(/[^\d.]/g, ''));


                var giamGiaC = document.getElementById('giaGiamc');
                if (giamGiaC == null) {
                    var tongSoTien = totalValue + shippingCost;
                } else {

                    var giamGia1 = giamGiaC.textContent || giamGiaC.innerText;

                    var giamGia1Value = parseFloat(giamGia1.replace(/[^\d.]/g, ''));
                    document.getElementById("discal").value = giamGia1Value;

                    var tongSoTien = totalValue + shippingCost - giamGia1Value;
                }


                var gia1Formatted2 = tongSoTien.toLocaleString('vi-VN', {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 3
                });

                var gia1WithCurrency2 = gia1Formatted2 + " VNĐ";
                document.getElementById("toTalFinal").value = tongSoTien;
                console.log(tongSoTien);
                document.getElementById("tongTienString").innerText = gia1WithCurrency2;

                var gia1Formatted3 = shippingCost.toLocaleString('vi-VN', {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 3
                });
                var gia1WithCurrency3 = gia1Formatted3 + " VNĐ";

                document.getElementById("ship").value = shippingCost;
                document.getElementById("shipcode").innerText = gia1WithCurrency3;
                console.log(gia1WithCurrency3);

            } else {
                document.getElementById("shippingCost").innerText = "Không thể tính phí vận chuyển.";
            }
        } catch (error) {
            console.error('Error:', error);
            document.getElementById("shippingCost").innerText = "Lỗi khi tính phí vận chuyển. Chi tiết lỗi: " + error.message;
        }
    }


    // JavaScript code để kiểm tra địa chỉ cũ

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // var priceInput = document.getElementById("price");
    // var priceInput1 = document.getElementById("price1");

    // var currentPrice = parseFloat(${tongTien});

    async function loadProvinces() {
        const response = await fetch(`http://localhost:8080/public/provinces`);
        const data = await response.json();

        const provinceSelect = document.getElementById("province");
        provinceSelect.innerHTML = '<option value="">Chọn tỉnh</option>';

        for (const province of data.data) {
            const option = document.createElement("option");
            option.value = province.ProvinceID;
            option.text = province.ProvinceName;
            provinceSelect.appendChild(option);
            console.log(province.ProvinceID, province.ProvinceName);
        }
    }

    async function loadDistricts() {
        const provinceId = document.getElementById("province").value;

        if (!provinceId) {
            return;
        }

        const response = await fetch('http://localhost:8080/public/districts?province_id=' + provinceId);
        const data = await response.json();

        const districtSelect = document.getElementById("district");
        districtSelect.innerHTML = '<option value="">Chọn huyện</option>';

        for (const district of data.data) {
            const option = document.createElement("option");
            option.value = district.DistrictID;
            option.text = district.DistrictName;
            districtSelect.appendChild(option);
        }

        districtSelect.disabled = false;
        document.getElementById("ward").disabled = true;
        document.getElementById("message").innerText = "";
    }

    async function loadWards() {
        const districtId = document.getElementById("district").value;

        if (!districtId) {
            return;
        }

        const response = await fetch('http://localhost:8080/public/wards?district_id=' + districtId);
        const data = await response.json();

        const wardSelect = document.getElementById("ward");
        wardSelect.innerHTML = '<option value="">Chọn xã</option>';

        for (const ward of data.data) {
            const option = document.createElement("option");
            option.value = ward.WareCode;
            option.text = ward.WardName;
            wardSelect.appendChild(option);
        }

        wardSelect.disabled = false;
        document.getElementById("message").innerText = "";
    }

    function checkSelection() {
        const provinceSelect = document.getElementById("province");
        const districtSelect = document.getElementById("district");
        const wardSelect = document.getElementById("ward");

        const provinceName = provinceSelect.options[provinceSelect.selectedIndex].text;
        const districtName = districtSelect.options[districtSelect.selectedIndex].text;
        const wardName = wardSelect.options[wardSelect.selectedIndex].text;

        if (provinceName) {
            document.getElementById("tinh1").value = provinceName;
        }

        if (districtName) {
            document.getElementById("huyen1").value = districtName;
        }

        if (wardName) {
            document.getElementById("xa1").value = wardName;
        }

        if (provinceName && districtName && wardName) {
            calculateShipping();
        } else {
            document.getElementById("message").innerText = "";
            // Khóa nút tính phí nếu không đủ điều kiện
            document.getElementById("shippingCost").innerText = "";
        }
    }

    async function calculateShipping() {
        const districtSelect = document.getElementById("district");
        const wardSelect = document.getElementById("ward");
        const toDistrictId = districtSelect.value;
        const toWardCode = wardSelect.value;

        const transportationFeeDTO = {
            toDistrictId: toDistrictId,
            toWardCode: toWardCode,
            quantity: 1,
            insuranceValue: 0
        };

        try {
            const response = await fetch('http://localhost:8080/public/transportationFee', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(transportationFeeDTO)
            });

            const data = await response.json();

            if (data && data.code === 200) {
                const shippingCost = data.data.total;
                var totalElement = document.getElementById('total');

                var totalText = totalElement.textContent || totalElement.innerText;

                var totalValue = parseFloat(totalText.replace(/[^\d.]/g, ''));


                var giamGiaC = document.getElementById('giaGiamc');
                if (giamGiaC == null) {
                    var tongSoTien = totalValue + shippingCost;
                } else {

                    var giamGia1 = giamGiaC.textContent || giamGiaC.innerText;

                    var giamGia1Value = parseFloat(giamGia1.replace(/[^\d.]/g, ''));
                    document.getElementById("discal").value = giamGia1Value;

                    var tongSoTien = totalValue + shippingCost - giamGia1Value;
                }


                var gia1Formatted2 = tongSoTien.toLocaleString('vi-VN', {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 3
                });

                var gia1WithCurrency2 = gia1Formatted2 + " VNĐ";
                document.getElementById("toTalFinal").value = tongSoTien;
                console.log(tongSoTien);
                document.getElementById("tongTienString").innerText = gia1WithCurrency2;

                var gia1Formatted3 = shippingCost.toLocaleString('vi-VN', {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 3
                });
                var gia1WithCurrency3 = gia1Formatted3 + " VNĐ";

                document.getElementById("ship").value = shippingCost;
                document.getElementById("shipcode").innerText = gia1WithCurrency3;
                console.log(gia1WithCurrency3);


            } else {
                document.getElementById("shippingCost").innerText = "Không thể tính phí vận chuyển.";
            }
        } catch (error) {
            console.error('Error:', error);
            document.getElementById("shippingCost").innerText = "Lỗi khi tính phí vận chuyển. Chi tiết lỗi: " + error.message;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        loadProvinces();
    });
    document.getElementById("province").addEventListener("change", loadDistricts);
    document.getElementById("district").addEventListener("change", loadWards);
    document.getElementById("ward").addEventListener("change", checkSelection);
    /*]]>*/
</script>
<script>
    var loiHoaDonBySL = "${loiHoaDonBySL}";
    if (loiHoaDonBySL == "2") {
        Swal.fire({
            icon: 'warning',
            html: '<div class="swal-text">Xin lỗi, sản phẩm trong hóa đn của bạn nhiều hơn số lượng tồn</div><div class="progress-bar-container"></div>',
            allowOutsideClick: true

        });
        setTimeout(() => {
            Swal.close();
            addFormContainer.style.display = 'block';
        }, 1000);
    }
</script>


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form th:action="@{/search}" method="POST" class="search-model-form">
            <input name="search-input" type="text" id="search-input"
                   placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/jquery.nice-select.min.js"></script>-->
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
<script>
</script>
</html>


