<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="/images/logo3.png">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
                style="color: white;"></a> <a th:if="${session.acc != null}"
                                              th:href="@{/signout}">Đăng Xuất</a><a href="#">Câu hỏi thường gặp</a>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a th:href="@{/cart}"><img src="img/icon/cart.png" alt="">
            <span th:text="${session.countCart}"></span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                                th:if="${session.acc != null}"
                                th:text="${session.acc.user_Name}" style="color: white;"></a> <a
                                th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="
    margin-top: -30px;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/home}">Trang Chủ</a></li>
                        <li><a th:href="@{/shop}">Cửa Hàng</a></li>
                        <li><a href="#">Thông Tin</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                                <li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
                                <li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
                                <li><a th:href="@{/about}">Về Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Tin Tức</a></li>
                        <li><a th:href="@{/contact}">Liên Lạc</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/thong-tin" class=""><img
                            src="img/logiImgVi.jpg" alt="" style="height: 37px;"></a>
                    </a> <a th:href="@{/cart}"><img
                        src="img/icon/cart.png" alt=""> <span
                        th:text="${session.countCart}"></span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Categories Section Begin -->
<div class="section">
    <!-- container -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" id="anh" src="/img/h1.jpg" height="400px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" id="anh" src="/img/h2.jpg" height="400px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" id="anh" src="/img/h3.jpg" height="400px">
            </div>
        </div>
    </div>
</div>
<script>
    var anhr = [];
    for (var i = 1; i < 4; i++) {
        anhr[i] = new Image();
        anhr[i].src = "img/h" + i + ".jpg";
    }

    var currentIndex = 1;
    var anh = document.getElementById("anh");
    Start();


    function Start() {
        currentIndex++;
        if (currentIndex > anhr.length - 1) {
            currentIndex = 1;
        }
        anh.src = anhr[currentIndex].src;
        t = setTimeout("Start()", 1000);
    }


</script>
<!-- Product Section Begin -->
<script th:if="${NoSignIn != null}">
    swal("Lỗi", "Vui lòng đăng nhập trước khi thực hiện thao tác!", "error");
</script>
<script th:if="${error_momo != null}">
    swal("Thanh toán không thành công!", "", "error");
</script>

<script th:if="${session.AddToCartErr != null}">
    swal("Lỗi", "Vui lòng đăng nhập trước khi thực hiện thao tác!", "error");
</script>
<p th:if="${session.AddToCartErr != null}" th:text="${#session.setAttribute('AddToCartErr', null)}"
   style="display: none;"></p>
<section class="product spad" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <!-- <li  data-filter="*">Special</li> -->
                    <li class="active" data-filter=".new-arrivals">Sách Mới Nhất</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter" style="text-align: center">
            <th:block th:each="y : ${Top12ProductNewArrivals}" >
                <div
                        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <a th:href="@{/productDetail/{id}(id=${y.id})}">
                            <div class="product__item__pic set-bg"
                                 th:data-setbg="${y.productImage[0].url_Image}" style="border: 1px solid crimson">
                                <ul class="product__hover">
                                    <li><a th:href="@{/productDetail/{id}(id=${y.id})}" ><img
                                            src="img/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>
                        </a>
                        <div class="product__item__text">
                            <h6 th:text="${y.product_Name}"></h6>
                            <a th:href="@{/addToCart/{id}(id=${y.id})}"
                               style="margin-left: 50px; cursor: pointer;" class="add-cart">+ Thêm Vào Giỏ Hàng</a>
                            <h5
                                    th:text=" ${#numbers.formatDecimal(y.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>1</h3>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>2</h3>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>3</h3>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>4</h3>
                                <span></span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">CHÀO MỪNG BẠN ĐÃ ĐẾN VỚI SHOP SÁCH</h2>
                    <h2 class="text-uppercase">SẢN PHẨM HOT NHẤT TUẦN NÀY</h2>
                    <a class="primary-btn cta-btn" href="/shop">Cửa Hàng</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Tin Mới Nhất</span>
                    <h2>Trang Nổi Bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://naidecor.vn/wp-content/uploads/2019/12/Sach-gia-decor-trang-tri-sach-mo-hinh-2.jpg"></div>
                    <div class="blog__item__text">
                        <h5>Ưu điểm của nhiều bộ sách giáo khoa</h5>
                        <p>Không thể dùng tư duy cũ để dạy sách mới, đánh giá học sinh kiểu cũ, rồi vội vàng
                            kết luận 'sách giáo khoa bây giờ không bằng ngày xưa'</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-beautiful-book-cartoon-illustration-image_1245639.jpg"></div>
                    <div class="blog__item__text">
                        <h5>
                            Yêu cầu Bộ Giáo dục soạn SGK là đi ngược xu hướng quốc tế
                        </h5>
                        <p>Theo đại biểu Nguyễn Duy Thanh, đoàn giám sát đề nghị Bộ Giáo dục và Đào tạo biên
                            soạn một bộ sách giáo khoa phổ thông là quay lại độc quyền, ngược xu hướng quốc tế</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                         data-setbg="https://c2lehongphong.pgdhadong.edu.vn/uploads/c2lehongphong/news/2023_04/anh-nghe-thuat-ve-cuon-sach_093706002.jpg"></div>
                    <div class="blog__item__text">
                        <h5>Một bộ giáo khoa Nhà nước
                        </h5>
                        <p>Hiệu phó một trường miền núi liên hệ với tôi để hỏi xem bộ sách giáo khoa (SGK) do
                            Bộ Giáo dục & Đào tạo biên soạn đã được triển khai chưa và bao giờ hoàn thành</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng Sách</a></li>
                        <li><a href="#">Sách Xu Hướng</a></li>
                        <li><a href="#">Doanh thu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả lại & Trao đổi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Tin tứcThư</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
                            & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
                            class="fa fa-heart-o" aria-hidden="true"></i> qua <a
                            href="https://colorlib.com" target="_blank">SD-81</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form th:action="@{/search}" method="POST" class="search-model-form">
            <input name="search-input" type="text" id="search-input"
                   placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<!-- 	<script>
function addCart(id) {
    $
            .ajax({
                url : "/addToCart/"+id,
                type : "get",
                success : function(responseData) {
                    document.getElementById("content").innerHTML = responseData;
                }
            });
}
</script> -->
</body>

</html>
