<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Male-Fashion</title>
	<link rel="icon" href="/img/logo-3.png">
	<!-- Google Font -->
	<link
			href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
			rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">

	<link rel="stylesheet" href="listeo/css/style.css">
	<link rel="stylesheet" href="listeo/css/main-color.css" id="colors">

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
<script th:if="${ChangePassSuccess!= null}">
	swal("Change Password Success", "", "success");
</script>
<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__option">
		<div class="offcanvas__links">
			<a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
				th:if="${session.acc != null}" th:text="${session.acc.user_Name}"></a>
			<a th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
		</div>
	</div>
	<div class="offcanvas__nav__option">
		<a href="#" class="search-switch"><img src="/img/icon/search.png"
											   alt=""></a> <a href="#"><img src="/img/icon/heart.png" alt=""></a>
		<a th:href="@{/cart}"><img src="/img/icon/cart.png" alt=""></a>
	</div>
	<div id="mobile-menu-wrap"></div>
	<div class="offcanvas__text">
		<p>Miễn phí vận chuyển, Đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày</p>
	</div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7">
					<div class="header__top__left">
					</div>
				</div>
				<div class="col-lg-6 col-md-5">
					<div class="header__top__right">
						<div class="header__top__links">
							<a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a th:if="${session.acc != null}"
																									th:text="${session.acc.user_Name}" style="color: white;"></a> <a
								th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="header__logo">
					<a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="
    margin-top: -30px;"></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6" >
				<nav class="header__menu mobile-menu">
					<ul>
						<li ><a th:href="@{/home}" style="font-size: 15px">Trang Chủ</a></li>
						<li><a th:href="@{/shop}" style="font-size: 15px">Cửa Hàng</a></li>
						<li class="active"><a href="# " style="font-size: 15px">Thông Tin</a>
							<ul class="dropdown">
								<li><a th:href="@{/cart}">Giỏ Hàng</a></li>
								<li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
								<li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
								<li><a th:href="@{/about}">Về Chúng Tôi</a></li>
							</ul>
						</li>
						<li><a th:href="@{/blog}" style="font-size: 15px">Tin Tức</a></li>
						<li><a th:href="@{/contact}" style="font-size: 15px">Liên Lạc</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="header__nav__option">
					<a href="/thong-tin" class=""><img
							src="img/logiImgVi.jpg" alt="" style="height: 37px;"></a>
					</a> <a th:href="@{/cart}"><img
						src="img/icon/cart.png" alt=""> <span
						th:text="${session.countCart}"></span></a>
				</div>
			</div>
		</div>
		<div class="canvas__open">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>
<div id="dashboard" style="padding-top: 0px;">


	<!-- Content
================================================== -->
	<div class="dashboard-content" style="margin-bottom: 30px; margin-left: 0px;">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>Tài Khoản</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a th:href="@{/home}">Trang Chủ</a></li>
							<li>Tài Khoản</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">

			<!-- Profile -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">Thông Tin Khách Hàng</h4>
					<div class="dashboard-list-box-static">
						<form action="changeProfile" method="POST"
							  enctype="multipart/form-data">
							<!-- Avatar -->
							<div class="edit-profile-photo">
								<img th:src="${user.avatar}" alt="">
								<div class="change-photo-btn">
									<div class="photoUpload">
										<span><i class="fa fa-upload"></i> Chọn Ảnh</span> <input
											name="avatar" type="file" accept="image/*" class="upload"/>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="my-profile">

								<label>Họ Và Tên</label>
								<input name="fullname" th:value="${user.user_Name}" type="text">

								<label>Số Điện Thoại</label>
								<input name="phone" th:value="${user.phone_Number}" type="text">
								<p style="color: red">[[${loi}]]</p>

								<label>Email</label>
								<input name="email" th:value="${user.email}" type="text">

								<label>Tỉnh/Thành Phố</label>
								<select id="province" onchange="loadDistricts(); checkSelection()">
									<option value="" th:text="${user.province}">Tỉnh/Thành Phố</option>
								</select>
								<input type="hidden" id="tinh1" name="province">

								<label>Quận/Huyện</label>
								<select id="district" onchange="loadWards(); checkSelection()">
									<option value=""  th:text="${user.districts}">Quận/Huyện</option>
								</select>
								<input type="hidden" id="huyen1" name="districts">

								<label>Xã/Phường</label>
								<select id="ward" onchange="checkSelection();">
									<option value=""  th:text="${user.wards}">Xã/Phường</option>
								</select>
								<input type="hidden" id="xa1" name="wards">


							</div>
							<span style="color: green;" th:if="${messageChangeProfile != null}"
								  th:text="${messageChangeProfile}"></span><br>
							<button class="button margin-top-15">Lưu Thông Tin</button>
						</form>
						<script th:inline="javascript">
							/*<![CDATA[*/
							var priceInput = document.getElementById("price");
							var priceInput1 = document.getElementById("price1");

							// var currentPrice = parseFloat(${tongTien});

							async function loadProvinces() {
								const response = await fetch(`http://localhost:8080/public/provinces`);
								const data = await response.json();

								const provinceSelect = document.getElementById("province");
								provinceSelect.innerHTML = '<option value="">Chọn tỉnh</option>';

								for (const province of data.data) {
									const option = document.createElement("option");
									option.value = province.ProvinceID;
									option.text = province.ProvinceName;
									provinceSelect.appendChild(option);
									console.log(province.ProvinceID, province.ProvinceName);
								}
							}

							async function loadDistricts() {
								const provinceId = document.getElementById("province").value;

								if (!provinceId) {
									return;
								}

								const response = await fetch('http://localhost:8080/public/districts?province_id=' + provinceId);
								const data = await response.json();

								const districtSelect = document.getElementById("district");
								districtSelect.innerHTML = '<option value="">Chọn huyện</option>';

								for (const district of data.data) {
									const option = document.createElement("option");
									option.value = district.DistrictID;
									option.text = district.DistrictName;
									districtSelect.appendChild(option);
								}

								districtSelect.disabled = false;
								document.getElementById("ward").disabled = true;
								document.getElementById("message").innerText = "";
							}

							async function loadWards() {
								const districtId = document.getElementById("district").value;

								if (!districtId) {
									return;
								}

								const response = await fetch('http://localhost:8080/public/wards?district_id=' + districtId);
								const data = await response.json();

								const wardSelect = document.getElementById("ward");
								wardSelect.innerHTML = '<option value="">Chọn xã</option>';

								for (const ward of data.data) {
									const option = document.createElement("option");
									option.value = ward.WareCode;
									option.text = ward.WardName;
									wardSelect.appendChild(option);
								}

								wardSelect.disabled = false;
								document.getElementById("message").innerText = "";
							}

							function checkSelection() {
								const provinceSelect = document.getElementById("province");
								const districtSelect = document.getElementById("district");
								const wardSelect = document.getElementById("ward");

								const provinceName = provinceSelect.options[provinceSelect.selectedIndex].text;
								const districtName = districtSelect.options[districtSelect.selectedIndex].text;
								const wardName = wardSelect.options[wardSelect.selectedIndex].text;

								if (provinceName) {
									document.getElementById("tinh1").value = provinceName;
								}

								if (districtName) {
									document.getElementById("huyen1").value = districtName;
								}

								if (wardName) {
									document.getElementById("xa1").value = wardName;
								}

								if (provinceName && districtName && wardName) {
									calculateShipping();
								} else {
									document.getElementById("message").innerText = "";
									// Khóa nút tính phí nếu không đủ điều kiện
									document.getElementById("shippingCost").innerText = "";
								}
							}

							document.addEventListener("DOMContentLoaded", function () {
								loadProvinces();
							});
							document.getElementById("province").addEventListener("change", loadDistricts);
							document.getElementById("district").addEventListener("change", loadWards);
							document.getElementById("ward").addEventListener("change", checkSelection);
							/*]]>*/
						</script>


					</div>
				</div>
			</div>

			<!-- Change Password -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">Đổi Mật Khẩu</h4>
					<div class="dashboard-list-box-static">

						<!-- Change Password -->
						<div class="my-profile">
							<form action="changepassword" method="post">
								<label class="margin-top-0">Mật Khẩu Cũ</label> <input
									name="current_password" type="password"> <label>Mật Khẩu Mới
							</label> <input name="new_password" type="password"> <label>Xác Nhận Mật Khẩu Mới</label> <input name="confirm_password" type="password">
								<p th:if="${error_change_pass!=null}" style="color: red;"
								   th:text="${error_change_pass}"></p>
								<button class="button margin-top-15">Đổi Mật Khẩu</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- Content / End -->
</div>
<!-- Contact Section End -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<div class="footer__logo">
						<a href="#"><img src="img/footer-logo.png" alt=""></a>
					</div>
					<p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
					<a href="#"><img src="img/payment.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h6>Mua Sắm</h6>
					<ul>
						<li><a href="#">Cửa hàng Sách</a></li>
						<li><a href="#">Sách Xu Hướng</a></li>
						<li><a href="#">Doanh thu</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h6>Mua Sắm</h6>
					<ul>
						<li><a href="#">Liên hệ chúng tôi</a></li>
						<li><a href="#">Phương thức thanh toán</a></li>
						<li><a href="#">Vận chuyển</a></li>
						<li><a href="#">Trả lại & Trao đổi</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
				<div class="footer__widget">
					<h6>Tin tứcThư</h6>
					<div class="footer__newslatter">
						<p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
							& khuyến mãi!</p>
						<form action="#">
							<input type="text" placeholder="Your email">
							<button type="submit">
								<span class="icon_mail_alt"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="footer__copyright__text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					<p>
						Copyright ©
						<script>
							document.write(new Date().getFullYear());
						</script>
						Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
							class="fa fa-heart-o" aria-hidden="true"></i> qua <a
							href="https://colorlib.com" target="_blank">SD-81</a>
					</p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
	<div class="h-100 d-flex align-items-center justify-content-center">
		<div class="search-close-switch">+</div>
		<form th:action="@{/search}" method="POST" class="search-model-form">
			<input name="search-input" type="text" id="search-input"
				   placeholder="Search here.....">
		</form>
	</div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--	<script src="js/jquery.nice-select.min.js"></script>-->
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>


</html>
