<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>
    <link rel="icon" href="/img/logo-3.png">
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        /*    Css cho giá bán*/

        #priceSlider {
            width: 280px;
            margin: 0 auto;
            text-align: center;
        }

        #giaBan {
            height: 10px;
            margin: 10px 0;
        }

        #priceSlider .noUi-handle {
            width: 20px;
            border-radius: 20px 20px 20px;
            background-color: aliceblue;
            height: 20px;
            cursor: ew-resize;
        }


        #giaBan .noUi-handle-lower {
            margin-left: 30px;
            background-color: #3498db; /* Màu nền */
            border-color: #2980b9; /* Màu viền */
        }

        /* CSS cho nút tăng giá bán */
        #giaBan .noUi-handle-upper {
            margin-left: 30px;
            background-color: #e74c3c; /* Màu nền */
            border-color: #c0392b; /* Màu viền */
        }

        /* CSS cho dải mức giá được chọn */
        #giaBan .noUi-connect {
            background-color: #2ecc71; /* Màu nền của dải mức giá */
            border-color: #27ae60; /* Màu viền của dải mức giá */
        }


    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
                style="color: white;"></a> <a th:if="${session.acc != null}"
                                              th:href="@{/signout}">Đăng Xuất</a><a href="#">Câu hỏi thường gặp</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>USD <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png"
                                               alt=""></a> <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a th:href="@{/cart}"><img src="img/icon/cart.png" alt="">
            <span th:text="${session.countCart}"></span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">

    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                                th:if="${session.acc != null}"
                                th:text="${session.acc.user_Name}" style="color: white;"></a> <a
                                th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
                        </div>
                        <!--                        <div class="header__top__hover">-->
                        <!--                            <div class="offcanvas__top__hover">-->
                        <!--                                <span  th:if="${session.acc != null}"><a href="/thong-tin" style="list-style: none;color: white">Số Dư: [[${vi.price}+0]] VNĐ</a></span>-->

                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="margin-top: -11px;margin-left: -150px;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/home}">Trang Chủ</a></li>
                        <li><a th:href="@{/shop}">Cửa Hàng</a></li>
                        <li><a href="#">Thông Tin</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                                <li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
                                <li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
                                <li><a th:href="@{/about}">Về Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Tin Tức</a></li>
                        <li><a th:href="@{/contact}">Liên Lạc</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/thong-tin" class=""><img
                            src="img/logiImgVi.jpg" alt="" style="height: 37px;"></a>
                    </a> <a th:href="@{/cart}"><img
                        src="img/icon/cart.png" alt=""> <span
                        th:text="${session.countCart}"></span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a th:href="@{/home}">Trang Chủ</a> <span>Cửa Hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <input style="width: 260px; height: 35px; border-radius: 5px 5px 5px" type="text"
                               id="tenGiayTheThao" placeholder="Tên sách" oninput="filterProducts()">
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Loại Sách</a>
                                </div>
                                <div id="collapseOne" class="collapse show"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${listCategory}">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="categoryCheckbox"
                                                                   th:value="${y.category_Name}"
                                                                   onchange="getSelectedCategory()"/>
                                                            <span th:text="${y.category_Name}"></span>
                                                        </label>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne1">Tác Giả</a>
                                </div>
                                <div id="collapseOne1" class="collapse show"
                                     data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${author}">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="authorCheckbox"
                                                                   th:value="${y.nameAuthor}"
                                                                   onchange="getSelectedAuthor()"/>
                                                            <span th:text="${y.nameAuthor}"></span>
                                                        </label>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample2">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne2">Nhà Xuất Bản</a>
                                </div>
                                <div id="collapseOne2" class="collapse show"
                                     data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${listProducer}">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="producerCheckbox"
                                                                   th:value="${y.nameProducer}"
                                                                   onchange="getSelectedProducer()"/>
                                                            <span th:text="${y.nameProducer}"></span>
                                                        </label>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample4">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne4">Bìa </a>
                                </div>
                                <div id="collapseOne4" class="collapse show"
                                     data-parent="#accordionExample4">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${listBookCover}">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="bookCoverCheckbox"
                                                                   th:value="${y.cover_type}"
                                                                   onchange="getSelectedBookCover()"/>
                                                            <span th:text="${y.cover_type}"></span>
                                                        </label>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion" style="margin-top: 30px">
                        <div class="accordion" id="accordionExample3">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne3">Khoảng Giá</a>
                                </div>
                                <div id="collapseOne3" class="collapse show"
                                     data-parent="#accordionExample3">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <div id="priceSlider" style="margin-top: 20px;width: 240px">
                                                <div style="width: 240px" id="giaBan"
                                                     class="noUi-target noUi-ltr noUi-horizontal"></div>

                                            </div>
                                            <br>
                                            <div>
                                                <p style="color: black">Giá tối thiểu: <span
                                                        id="minPrice">100.000</span></p>
                                                <p style="color: black">Giá tối đa: <span id="maxPrice">300.000</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-9">
                <div class="shop__product__option">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p th:text="'Hiển Thị 1–12 trên ' + ${TotalPro} + ' Kết Quả'"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div id="noResults" class="alert alert-warning" style="display: none;margin-top: 10px">
                            <h5 style="text-align: center;height: 60px;margin-top: 40px">Không có dữ liệu phù hợp với bộ
                                lọc hiện tại!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <th:block th:each="y : ${listProduct.content}">
                        <div class="col-lg-4 col-md-6 col-sm-6 product-item"
                             th:data-author="${#strings.arrayJoin(y.author.![nameAuthor], ', ')}"
                             th:data-category="${#strings.arrayJoin(y.category.![category_Name], ', ')}"
                             th:data-producer="${y.producer.nameProducer}"
                             th:data-bookCover="${y.bookCover.cover_type}"
                             th:data-giaBan="${y.price}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     th:data-setbg="${y.productImage[0].url_Image}">


                                    <ul class="product__hover">
                                        <li><a style="margin-left: 50px"
                                               th:href="@{/productDetail/{id}(id=${y.id})}"><img
                                                src="/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 class="card-title" th:text="${y.product_Name}"></h6>
                                    <a th:href="@{/addToCart/{id}(id=${y.id})}" class="add-cart">+
                                        Thêm Vào Giỏ Hàng</a>
                                    <h5
                                            th:text=" ${#numbers.formatDecimal(y.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div th:if="${noPageable==null}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/shop/{id}(id=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/shop/{id}(id=${listProduct.number} -1)}"></a> <a
                                class="active"
                                th:href="@{/shop/{id}(id=${listProduct.number})}"
                                th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/shop/{id}(id=${listProduct.number} +1)}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>>'"
                                th:href="@{/shop/{id}(id=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>
                <div th:if="${noPageable=='category'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

                <div th:if="${noPageable=='author'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>


                <div th:if="${noPageable=='producer'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

                <div th:if="${noPageable=='search'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/search/{id}(id=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/search/{id}(id=${listProduct.number} -1)}"></a> <a
                                class="active"
                                th:href="@{/search/{id}(id=${listProduct.number})}"
                                th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/search/{id}(id=${listProduct.number} +1)}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>>'"
                                th:href="@{/search/{id}(id=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng Sách</a></li>
                        <li><a href="#">Sách Xu Hướng</a></li>
                        <li><a href="#">Doanh thu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả lại & Trao đổi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Tin tứcThư</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
                            & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
                            class="fa fa-heart-o" aria-hidden="true"></i> qua <a
                            href="https://colorlib.com" target="_blank">SD-81</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form th:action="@{/search}" method="POST" class="search-model-form">
            <input name="search-input" type="text" id="search-input"
                   placeholder="Search here.....">
        </form>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>

</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var giaBanSlider = document.getElementById('giaBan');
    var minPrice = document.getElementById('minPrice');
    var maxPrice = document.getElementById('maxPrice');
    var selectedCategory = [];
    var selectedBookCover = [];
    var selectedProducer = [];
    var selectedAuthor = []
    // var selectedTrongLuongs = [];
    // var selectedChatLieus = [];
    noUiSlider.create(giaBanSlider, {
        start: [0, 5000000],
        connect: true,
        range: {
            'min': 0,
            'max': 5000000
        }
    });

    giaBanSlider.noUiSlider.on('update', function (values, handle) {
        var selectedValues = giaBanSlider.noUiSlider.get();
        minPrice.innerHTML = parseFloat(selectedValues[0]).toLocaleString('vi-VN', {
            style: 'currency',
            currency: 'VND'
        });
        maxPrice.innerHTML = parseFloat(selectedValues[1]).toLocaleString('vi-VN', {
            style: 'currency',
            currency: 'VND'
        });

        filterProducts();
    });

    function filterProducts() {
        // var productList = document.getElementById('product-list');
        var anyResults = false;
        var products = document.querySelectorAll('.product-item');
        var tenGiayFilter = document.getElementById('tenGiayTheThao').value.toLowerCase();
        var giaBanValues = giaBanSlider.noUiSlider.get();

        products.forEach(function (product) {
            var productCategories = product.getAttribute('data-category').split(','); // Chia các thể loại thành một mảng
            var productAuthor = product.getAttribute('data-author').split(',');
            var productName = product.querySelector('.card-title').textContent.toLowerCase();
            var productGiaBan = parseFloat(product.getAttribute('data-giaBan'));
            var authorCondition = selectedAuthor.length === 0 || hasCommonElement(selectedAuthor, productAuthor);
            var categoryCondition = selectedCategory.length === 0 || hasCommonElement(selectedCategory, productCategories);
            var bookCoverCondition = selectedBookCover.length === 0 || selectedBookCover.includes(product.getAttribute('data-bookCover'));
            var producerCondition = selectedProducer.length === 0 || selectedProducer.includes(product.getAttribute('data-producer'));
            var nameCondition = tenGiayFilter === '' || productName.includes(tenGiayFilter);
            var priceCondition = productGiaBan >= parseFloat(giaBanValues[0]) && productGiaBan <= parseFloat(giaBanValues[1]);
            if (categoryCondition && bookCoverCondition && producerCondition && authorCondition && nameCondition && priceCondition) {
                product.style.display = 'block';
                anyResults = true;
            } else {
                product.style.display = 'none';
            }
        });

        var noResultsMessage = document.getElementById('noResults');
        if (!anyResults) {
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }

    function hasCommonElement(...arrays) {
        if (arrays.length < 2) {
            return false;
        }

        const firstArray = arrays[0];

        for (let i = 0; i < firstArray.length; i++) {
            const currentElement = firstArray[i];

            for (let j = 1; j < arrays.length; j++) {
                const currentArray = arrays[j];

                if (!currentArray.some(element => element.includes(currentElement))) {
                    break;
                }

                if (j === arrays.length - 1) {
                    return true;
                }
            }
        }

        return false;
    }


    function getSelectedCategory() {
        selectedCategory = [];
        var categoryCheckboxes = document.getElementsByClassName('categoryCheckbox');

        for (var i = 0; i < categoryCheckboxes.length; i++) {
            if (categoryCheckboxes[i].checked) {
                selectedCategory.push(categoryCheckboxes[i].value);
            }
        }

        filterProducts();
    }

    function getSelectedBookCover() {
        selectedBookCover = [];
        var bookCoverCheckboxes = document.getElementsByClassName('bookCoverCheckbox');

        for (var i = 0; i < bookCoverCheckboxes.length; i++) {
            if (bookCoverCheckboxes[i].checked) {
                selectedBookCover.push(bookCoverCheckboxes[i].value);
            }
        }

        filterProducts();
    }

    function getSelectedProducer() {
        selectedProducer = [];
        var producerCheckboxes = document.getElementsByClassName('producerCheckbox');

        for (var i = 0; i < producerCheckboxes.length; i++) {
            if (producerCheckboxes[i].checked) {
                selectedProducer.push(producerCheckboxes[i].value);
            }
        }

        filterProducts();
    }

    function getSelectedAuthor() {
        selectedAuthor = [];
        var authorCheckboxes = document.getElementsByClassName('authorCheckbox');

        for (var i = 0; i < authorCheckboxes.length; i++) {
            if (authorCheckboxes[i].checked) {
                selectedAuthor.push(authorCheckboxes[i].value);
            }
        }

        filterProducts();
    }

    giaBanSlider.noUiSlider.on('change', function () {
        filterProducts();
    });
    /*]]>*/
</script>
</html>
