<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>
    <link rel="icon" href="/img/logo-3.png">
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
                style="color: white;"></a> <a th:if="${session.acc != null}"
                                              th:href="@{/signout}">Đăng Xuất</a><a href="#">Câu hỏi thường gặp</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>USD <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png"
                                               alt=""></a> <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a th:href="@{/cart}"><img src="img/icon/cart.png" alt="">
            <span th:text="${session.countCart}"></span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">

    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">

                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:if="${session.acc == null}" th:href="@{/signin}">Đăng Nhập</a> <a
                                th:if="${session.acc != null}"
                                th:text="${session.acc.user_Name}" style="color: white;"></a> <a
                                th:if="${session.acc != null}" th:href="@{/signout}">Đăng Xuất</a>
                        </div>
                        <!--                        <div class="header__top__hover">-->
                        <!--                            <div class="offcanvas__top__hover">-->
                        <!--                                <span  th:if="${session.acc != null}"><a href="/thong-tin" style="list-style: none;color: white">Số Dư: [[${vi.price}+0]] VNĐ</a></span>-->

                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img src="/images/logo3.png" alt="" style="
    margin-top: -30px;"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li ><a th:href="@{/home}">Trang Chủ</a></li>
                        <li class="active" ><a th:href="@{/shop}">Cửa Hàng</a></li>
                        <li><a href="#">Thông Tin</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                                <li><a th:href="@{/myprofile}">Tài Khoản Của Tôi</a></li>
                                <li><a th:href="@{/myhistory}">Lịch Sử Đã Mua</a></li>
                                <li><a th:href="@{/about}">Về Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Tin Tức</a></li>
                        <li><a th:href="@{/contact}">Liên Lạc</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="/thong-tin" class=""><img
                            src="img/logiImgVi.jpg" alt="" style="height: 37px;"></a>
                    </a> <a th:href="@{/cart}"><img
                        src="img/icon/cart.png" alt=""> <span
                        th:text="${session.countCart}"></span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a th:href="@{/home}">Trang Chủ</a> <span>Cửa Hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form th:action="@{/search}" method="POST">
                            <input name="search-input" type="text" placeholder="Search..."
                                   th:value="${search_input}">
                            <button type="submit">
                                <span class="icon_search"></span>
                            </button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Loại Sách</a>
                                </div>
                                <div id="collapseOne" class="collapse show"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${listCategory}">
                                                    <li><a th:href="@{/category/{id}(id=${y.id})}"
                                                           th:text="${y.category_Name}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Tác Giả</a>
                                </div>
                                <div id="collapseOne" class="collapse show"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${author}">
                                                    <li><a th:href="@{/author/{id}(id=${y.id})}"
                                                           th:text="${y.nameAuthor}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Nhà Xuất Bản</a>
                                </div>
                                <div id="collapseOne" class="collapse show"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="y : ${listProducer}">
                                                    <li><a th:href="@{/producer/{id}(id=${y.id})}"
                                                           th:text="${y.nameProducer}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__sidebar__accordion" style="margin-top: 30px">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Khoảng Giá</a>
                                </div>
                                <div id="collapseOne" class="collapse show"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="/0den50"
                                                >Từ 0 Đến 50000 VNĐ</a></li>
                                                <li><a href="/50den100"
                                                >Từ 50000 Đến 100000 VNĐ</a></li>
                                                <li><a href="/100den200"
                                                >Từ 100000 Đến 200000 VNĐ</a></li>
                                                <li><a href="/200den500"
                                                >Từ 200000 Đến 500000 VNĐ</a></li>
                                                <li><a href="/500den1000"
                                                >Từ 500000 VNĐ trở lên</a>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p th:text="'Hiển Thị 1–12 trên ' + ${TotalPro} + ' Kết Quả'"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <th:block th:each="y : ${listProduct.content}">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     th:data-setbg="${y.productImage[0].url_Image}">
                                    <ul class="product__hover">
                                        <li><a style="margin-left: 50px" th:href="@{/productDetail/{id}(id=${y.id})}"><img
                                                src="/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 th:text="${y.product_Name}"></h6>
                                    <a th:href="@{/addToCart/{id}(id=${y.id})}" class="add-cart">+
                                        Thêm Vào Giỏ Hàng</a>
                                    <h5
                                            th:text=" ${#numbers.formatDecimal(y.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div th:if="${noPageable==null}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/shop/{id}(id=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/shop/{id}(id=${listProduct.number} -1)}"></a> <a
                                class="active"
                                th:href="@{/shop/{id}(id=${listProduct.number})}"
                                th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/shop/{id}(id=${listProduct.number} +1)}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>>'"
                                th:href="@{/shop/{id}(id=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>
                <div th:if="${noPageable=='category'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/category/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

                <div th:if="${noPageable=='author'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/author/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>


                <div th:if="${noPageable=='producer'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number} -1)}"></a>
                            <a class="active"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number})}"
                               th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.number} +1)}"></a>
                            <a th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                               th:text="'>>'"
                               th:href="@{/producer/{id}/{p}(id=${idCate} , p=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

                <div th:if="${noPageable=='search'}" class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a th:if="${listProduct.number} > 0" th:text="'<<'"
                               th:href="@{/search/{id}(id=0)}"></a> <a
                                th:if="${listProduct.number} > 0" th:text="'<'"
                                th:href="@{/search/{id}(id=${listProduct.number} -1)}"></a> <a
                                class="active"
                                th:href="@{/search/{id}(id=${listProduct.number})}"
                                th:text="${listProduct.number+1}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>'"
                                th:href="@{/search/{id}(id=${listProduct.number} +1)}"></a> <a
                                th:if="${listProduct.number} < ${listProduct.totalPages - 1}"
                                th:text="'>>'"
                                th:href="@{/search/{id}(id=${listProduct.totalPages} - 1)}"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng Sách</a></li>
                        <li><a href="#">Sách Xu Hướng</a></li>
                        <li><a href="#">Doanh thu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua Sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả lại & Trao đổi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Tin tứcThư</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về hàng mới về, lookbook, sale
                            & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Mọi quyền được bảo lưu | Mẫu này được thực hiện với <i
                            class="fa fa-heart-o" aria-hidden="true"></i> qua <a
                            href="https://colorlib.com" target="_blank">SD-81</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form th:action="@{/search}" method="POST" class="search-model-form">
            <input name="search-input" type="text" id="search-input"
                   placeholder="Search here.....">
        </form>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
